
@{
    ViewBag.Title = "fetch";
}

<h2>fetch</h2>
<div ng-controller="fetchdata">
    <table>
        <tr>
            <td>firstid:</td>
            <td>{{contact.EmployeeId}}</td>
            <td>{{contact.EmployeeCode}}</td>
            <td>{{contact.EmployeeName}}</td>
        </tr>
    </table>
</div>
@section scripts{
    
    }